body
{
    background-image: url("./Images/Aventador1.jpg");
    background-attachment: fixed;
    margin-top: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cardcenter
{
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.custom-btn {
    background-color: yellow;
    color: black;
}

/* Change la couleur au survol */
.custom-btn:hover {
    background-color: gold;
}

.custom-card:hover {
    border: 2px solid yellow;
    transition: border 0.3s ease; 
}

#menu_buger {
    position: absolute;
    top: 5%;
    left: 80%;
}


/* media query */

/* Fait disparaitre mes boutons quand je passe en dessous de 540px de large */
@media screen and (max-width: 540px) {
    
    #header {
        display: none;
    }
}

/* Fait disparaitre mon menu Burger quand mon ecran dépasse 540px de large */
@media screen and (min-width: 540px)
{
    #menu_buger{
        display: none;
    }
}

/* J'ai fais cette classe pour cacher tout mes liens grace au Display: none et qui me sert aussi dans mon js  */
.hiddendiv {
    display: none;
}
