body
{
    background-image: url("./Images/Terre.jpg");
    background-attachment: fixed;
    margin-top: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cardcenter
{
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

